body {
  box-sizing: border-box;
  text-align: center;
}

#carousel {  
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px; 
}

#carousel ul {
  margin: 0;
  padding: 0;
  width: 2000px;
}

#carousel ul li {
  display: inline-block;
  float: left;
  list-style-type: none;
}

#carousel ul li img {
  height: 300px;
  object-fit: cover;
  width: 400px;
}

#left-scroll, #right-scroll {
  height: 25px;
  width: 25px;
}
